body {
    /* font-size: larger; */
    color: yellow;
    /* background-image: url('Images/Background.png'); */
    background-color: rgb(23, 0, 61);
    background-size: 1920px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 0, 255);
}

ol {
    list-style: decimal-leading-zero;
}

input, button {
    font-family: 'Press Start 2P', cursive;
    max-width: 150px;
    text-align: center;
    cursor: pointer;
}

li {
    margin: 10px;
}

h3 {
    color:orangered;
}

.centre {
    text-align: center;
}

#multiple-choice {
    text-align:left;
    display: flex;
    flex-direction: column;
}

#playlist {
    display: flex;
    justify-content: center;
    color: greenyellow;
}
