body {
    text-align: center;
    /* background-color: rgb(49, 0, 82); */
    background-image: url('Images/Background.png');
    background-size: 1920px;
    font-family: 'Source Code Pro', monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

header {
    box-shadow: 5px 5px 5px;
    margin: 10px 10px 50px 10px;
}

form {
    display: flex;
    justify-content: space-evenly;
}

ol {
    list-style: none;
}

li {
    margin: 10px;
}


.box {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    border: 10px solid hotpink;
}